In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt
from matplotlib.ticker import PercentFormatter
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from yellowbrick.cluster import KElbowVisualizer
from itertools import combinations

pd.options.mode.chained_assignment = None

In [3]:
df = pd.read_csv(r"C:\Users\rajen\Downloads\online_retail_final.csv")

In [4]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

In [5]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
print("Min date: {} \nMax date: {}".format(df.InvoiceDate.min(),df.InvoiceDate.max()))

Min date: 2010-12-01 08:26:00
Max date: 2011-12-09 12:50:00

In [6]:
last_day = df.InvoiceDate.max() + dt.timedelta(days = 1)

In [13]:
rfm_table = df.groupby("CustomerID").agg({"InvoiceDate": lambda x: (last_day - x.max()).days,
                                          "InvoiceNo" : "nunique",
                                          "TotalPrice" : "sum"})

rfm_table.rename(columns = {"InvoiceDate": "Recency",
                            "InvoiceNo" : "Frequency",
                            "TotalPrice" : "Monetory"},inplace = True)

In [14]:
rfm_table.head()

            Recency  Frequency  Monetory
CustomerID
12347.0           2          7   4060.40
12348.0          75          4   1437.24
12349.0          19          1   1417.60
12350.0         310          1    294.40
12352.0          36          7   1385.74

In [15]:
r_labels = range(5,0,-1)
fm_labels = range(1,6)

rfm_table["R"] = pd.qcut(rfm_table["Recency"],5,labels = r_labels)
rfm_table["F"] = pd.qcut(rfm_table["Frequency"].rank(method = 'first'), 5, labels = fm_labels)
rfm_table["M"] = pd.qcut(rfm_table["Monetory"], 5, labels = fm_labels)

rfm_table.head()

            Recency  Frequency  Monetory  R  F  M
CustomerID
12347.0           2          7   4060.40  5  5  5
12348.0          75          4   1437.24  2  4  4
12349.0          19          1   1417.60  4  1  4
12350.0         310          1    294.40  1  1  2
12352.0          36          7   1385.74  3  5  4

In [17]:
rfm_table["RFM_Segment"] = rfm_table["R"].astype(str) + rfm_table["F"].astype(str) + rfm_table["M"].astype(str)
rfm_table["RFM_Score"] = rfm_table[["R","F","M"]].sum(axis=1)

rfm_table.head()

            Recency  Frequency  Monetory  R  F  M RFM_Segment  RFM_Score
CustomerID
12347.0           2          7   4060.40  5  5  5         555         15
12348.0          75          4   1437.24  2  4  4         244         10
12349.0          19          1   1417.60  4  1  4         414          9
12350.0         310          1    294.40  1  1  2         112          4
12352.0          36          7   1385.74  3  5  4         354         12

In [18]:
segt_map = {
    r'[1-2][1-2]': 'Hibernating',
    r'[1-2][3-4]': 'At-Risk',
    r'[1-2]5': 'Cannot lose them',
    r'3[1-2]': 'About to Sleep', 
    r'33': 'Need Attention',
    r'[3-4][4-5]': 'Loyal Customers',
    r'41': 'Promising',
    r'51': 'New Customers',
    r'[4-5][2-3]': 'Potential Loyalists',
    r'5[4-5]': 'Champions'
}
rfm_table['Segment'] = rfm_table['R'].astype(str) + rfm_table['F'].astype(str)
rfm_table['Segment'] = rfm_table['Segment'].replace(segt_map, regex=True)
rfm_table.head()

,Recency,Frequency,Monetory,R,F,M,RFM_Segment,RFM_Score,Segment
CustomerID,,,,,,,,,
12347.0,2,7,4060.40,5,5,5,555,15,Champions
12348.0,75,4,1437.24,2,4,4,244,10,At-Risk
12349.0,19,1,1417.60,4,1,4,414,9,Promising
12350.0,310,1,294.40,1,1,2,112,4,Hibernating
12352.0,36,7,1385.74,3,5,4,354,12,Loyal Customers